<h2>@ViewData["Title"]</h2>

@if (ViewBag.IsSuccess)
{
    <div class="alert alert-success">
        <p >@ViewData["ConfirmMessage"]</p>
        <p>
            <a class="btn btn-info" asp-action="LogIn" asp-controller="Account">ورود به سایت</a>
        </p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>@ViewData["ConfirmMessage"]</p>
        <p>
            <a class="btn btn-info" asp-action="LogIn" asp-controller="Account">ورود به سایت</a>
        </p>
    </div>
}