<h2>@ViewData["Title"]</h2>

@if (ViewBag.IsSuccess)
{
    <div class="alert alert-success">
        <p>@ViewData["ConfirmMessage"]</p>
    </div>
    <p>
        <a class="btn btn-default" asp-action="LogIn" asp-controller="Account">ورود به سایت</a>
    </p>
}
else
{
    <div class="alert alert-danger">
        <p>@ViewData["ConfirmMessage"]</p>
    </div>
    <p>
        @if (ViewBag.DoActive != null)
        {
        <a class="btn btn-info" asp-action="ActiveAccount" asp-controller="Account">فعال سازی اکانت</a>
        }
    </p>
}