@model LogInViewModel

<main class="client-page">
    <div class="container-content">

        <header><h2> ورود به سایت </h2></header>


        <div class="form-layer">

            <form asp-action="LogIn" method="post">
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" required>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="glyphicon glyphicon-lock"></i></span>
                    <input asp-for="PassWord" type="password" class="form-control" placeholder="رمز عبور " required>
                </div>
                <span asp-validation-for="PassWord" class="text-danger"></span>
                <div class="input-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="remember-me">
                    <label>  مرا بخاطر بسپار </label>
                    <input asp-for="RememberMe" type="checkbox">
                </div>
                <div class="link">
                    <a asp-action="CheckEmail" asp-controller="Account"> <i class="glyphicon glyphicon-lock"></i> رمز عبور خود را فراموش کرده ام !</a>
                    <a asp-action="Register" asp-controller="Account" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()"> <i class="glyphicon glyphicon-registration-mark"></i> عضویت در سایت </a>
                </div>
                <div class="input-group">
                    <input type="submit" asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-success" value="ورود به سایت " />
                </div>
            </form>
        </div>

    </div>
</main>