@model ResetPasswordViewModel

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.Issuccess != null)
        {
            @if (!ViewBag.Issuccess)
            {
                <div class="alert text-danger">
                    <p class="help-block">@ViewData["ErrorMessage"]</p>
                </div>
            }
        }

        <header><h2> ورود به سایت </h2></header>


        <div class="form-layer">

            <form asp-action="ResetPassword" asp-controller="Account" asp-area="" method="post">
                <input asp-for="@Model.UserId" type="hidden" />
                <input asp-for="@Model.Token" type="hidden" />
                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input asp-for="@Model.NewPassword" type="password" class="form-control" placeholder="پسوورد جدید" required>
                </div>
                <div class="input-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>

                <div class="input-group">
                    <input type="submit" class="btn btn-success" value="ثبت" />
                </div>
            </form>
        </div>

    </div>
</main>