@model UserProfileViewModel

<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>
        <div class="avatar-layer">
            <div class="img-layer">
                <a class="change-image" id="ClickToEdit"><i class="zmdi zmdi-edit"></i></a>
                <img src="~/images/ajax-loader(2).gif" class="loader change-image" id="ajaxloader" hidden />
                <img src="@Url.Content("~/Images/UserProfile/"+ Model.UserProfileUrl)" />
            </div>
            <div class="detail">
                <span> @Model.UserName </span>
                <span> عضویت : @Model.RegisterDate </span>
            </div>
        </div>
        <section>
            <header><h3> میز کار </h3></header>
            <div class="inner">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="User"> مشاهده حساب کابری </a></li>
                    <li><a asp-action="EditProfile" asp-controller="Home" asp-area="User"> ویرایش حساب کابری </a></li>
                    <li><a asp-action="ResetPassword" asp-controller="Account" asp-area=""> تغییر رمز عبور </a></li>
                    <li><a href="/User/Wallet/Index" id="ShowWallet">کیف پول  <img src="~/images/ajax-loader.gif" class="loader change-image" id="ajaxloader2" hidden /></a></li>
                    <li><a href=""> تنظیمات حساب کاربری </a></li>
                    <li><a asp-action="LogOut" asp-controller="Account" asp-area=""> خروج از حساب کاربری </a></li>
                </ul>
            </div>
        </section>
    </aside>
</div>
<script>

    jQuery(document).ready(function () {

        $("#ClickToEdit").click(function (e) {
            e.preventDefault();
            $("#ajaxloader").show();
            var innerHtml = $("#Changable").html();
            $.ajax({
                url: "/User/Home/EditProfileImage",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#ajaxloader").hide();
                    $("#Changable").html(data);
                },
                error: function (data) {
                    $("#ajaxloader").hide();
                    $("#Changable").html(innerHtml);
                }
            })
        });

        $("#ShowWallet").click(function (e) {
            e.preventDefault();
            $("#ajaxloader2").show();
            var innerHtml = $("#Changable").html();
            $.ajax({
                url: $(this).attr("href"),
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#ajaxloader2").hide();
                    $("#Changable").html(data);
                },
                error: function (data) {
                    $("#ajaxloader2").hide();
                    $("#Changable").html(innerHtml);
                }
            })
        });

    });
</script>
