@model Site.Web.Areas.User.Models.HomeModels.AjaxUserChangrPassword

<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="form-group">
            <form method="post" id="ChargeForm" class="form-inline">
                <div id="ShowError" class="text-danger" hidden></div>

                <div class="form-group">
                    <input asp-for="@Model.Id" type="hidden" required />
                    <label asp-for="@Model.OldPassWord" class="control-label"></label> : &nbsp;
                    <input asp-for="OldPassWord" type="password" required />
                </div>
                <div class="form-group">
                    <label asp-for="NewPassWords" class="control-label"></label> : &nbsp;
                    <input asp-for="@Model.NewPassWords" type="password" required />
                </div>
            </form>
        </div>

        <div lass="form-group">
            <input class="btn btn-success" type="button" id="Submit" value="save" /><img src="~/images/ajax-loader.gif" id="loader" hidden />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#Submit").click(function (e) {
            e.preventDefault();
            var model = $("#ChargeForm").serialize();
            var token = $('input[name=__RequestVerificationToken]').val();
            model.__RequestVerificationToken = token;

            $("#loader").show();
            $.ajax({
                method: 'POST',
                url: '/User/Home/ChangePassword',
                data: model,

                success: function (result) {
                    if (result.status == "Success") {
                        $("#loader").hide();
                        $("#ShowError").show().empty();
                        $("#ShowError").attr("class","text-success").text(result.messageWhenSuccessed);
                        setTimeout(function () { window.location.replace(result.redirectUrl) }, 1500);
                    } else if (result.status == "Error") {
                        $("#ShowError").show().empty();
                        $("#loader").hide();
                        $.each(result.errors, function (index, value) {
                            $("#ShowError").append("- " + index + " - " + value);
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#ShowError").show();
                    $("#ShowError").html(" - " + ajaxOptions + ": " + thrownError);
                    $("#loader").hide();
                }
            });

        });
    });
</script>