@model AjaxUserEditProfileImage

<div class="row">
    <div class="col-md-9">
        <form method="post" enctype="multipart/form-data">
            <div id="ShowError" class="text-danger" hidden></div>
            <div class="form-group">
                <label asp-for="FormFile" class="control-label"></label>
                <input asp-for="FormFile" type="file" id="fileUpload" required /><img src="~/images/ajax-loader.gif" id="loader" hidden />
            </div>

        </form>
        <div lass="form-group">
            <input class="btn btn-success" type="button" id="Submit" value="save" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $("#Submit").click(function (e) {
            
            var formData = new FormData();
            formData.append("FormFile", $('#fileUpload')[0].files[0]);
            $("#loader").show();

            $.ajax({
                url: '/User/Home/EditProfileImage',
                type: 'POST',
                dataType: "json",
                processData: false,
                contentType: false,
                data: formData,

                success: function (result) {
                    if (result.status == "Success") {
                        setTimeout(function () { window.location = "/User/Home/Index"; }, 500);
                    } else if (result.status == "Error") {
                        $("#ShowError").show();
                        $("#loader").hide();
                        $.each(result.errors, function (index, value) {
                            $("#ShowError").append("- " + index + " - " + value); 
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#ShowError").show();
                    $("#ShowError").html(" - " + ajaxOptions + ": " + thrownError);
                    $("#loader").hide();
                }
            });

        });

    });
</script>