@page
@model Site.Web.Pages.Admin.CourseManagement.CreateModel

<div class="row">
    <form method="post" asp-page="/Admin/CourseManagement/Create" enctype="multipart/form-data">
        <div class="well col-md-7 col-sm-7">
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Model.CourseTitle" class="control-label"></label>&nbsp;:&nbsp;
                    <input asp-for="Model.CourseTitle" type="text" class="form-control" required />
                    <span asp-validation-for="Model.CourseTitle" class="text-danger"></span>
                </div>

                @await Component.InvokeAsync("FillCourseDetail")

                <div class="form-group">
                    <label asp-for="Model.CoursePrice" class="control-label"></label>&nbsp;:&nbsp;
                    <input asp-for="Model.CoursePrice" type="number" class="form-control" min="1000" value="1000" placeholder="قیمت به ریال" required />
                    <span asp-validation-for="Model.CoursePrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span class="form-group glyphicon glyphicon-tags"> </span>
                    <input asp-for="Model.Keywords" class="form-control " id="basic" data-role="tagsinput" placeholder="جداسازی تگ ها با کاما(,)" required>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn glyphicon glyphicon-send" value="ذخیره اطلاعات" />
            </div>
        </div>

        <div class="well col-md-5 col-sm-5">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Model.UploadedImage" class="control-label"></label>
                    <div class="form-group">
                        <img class="img-responsive img-rounded" id="imgAvatar" src="~/images/UserProfile/index.png" />
                    </div>
                    <input asp-for="Model.UploadedImage" type="file" class="btn glyphicon glyphicon-open-file" required />
                    <span asp-validation-for="Model.UploadedImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.DemoFile" class="control-label"></label>
                    <input asp-for="Model.DemoFile" type="file" class="btn glyphicon glyphicon-open-file" required />
                    <span asp-validation-for="Model.DemoFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Model.CourseDescription" class="control-label"></label>&nbsp;:&nbsp;
                    <textarea asp-for="Model.CourseDescription" class="form-control total_area" type="text" required></textarea>
                    <span asp-validation-for="Model.CourseDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {

            //Upload Image
            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#imgAvatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#Model_UploadedImage").change(function () {
                readURL(this);
            });

            $('#basic').tagInput();
            $('#basic').tagInput({ labelClass: "label-warning" });

        });
    </script>
}