@model Site.Web.Models.HomeViewModel.IndexViewModel




@section SearchBox{
    <div class="search-form ">
        <form id="serachFrm" asp-controller="Home" asp-action="Index" method="get">
            <input type="text" asp-for="@Model.Searchkeyvalue" value="@Model.Searchkeyvalue" placeholder="چی دوست داری یاد بگیری ؟">
            <button><i class="glyphicon glyphicon-search"></i><img src="~/images/ajax-loader.gif" id="loader" hidden /></button>
        </form>
    </div>
}

<main id="home-page">
    <div class="container">

        <partial name="_PagedCourselistPartialView" model="Model.PagedResult.ListItem" />
        
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" id="dataTables-example_paginate">
                    <nav Page-data="@Model.PagedResult.PageData" page-action="Index" page-controller="Home"></nav>
                </div>
            </div>
        </div>

    </div>
</main>

@*<main id="home-page">
        <div class="container">
            <section class="terms-items">
                <div class="row">
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/1.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/2.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/3.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 150.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/4.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/5.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 15.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/6.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/7.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 20.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/8.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 75.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                </div>
            </section>

            <hr>

            <section class="terms-items">
                <header>
                    <h2> دوره های محبوب تاپ لرن </h2>
                    <a href=""> مشاهده همه دوره ها </a>
                </header>
                <div class="row">
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/1.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/2.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/3.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 150.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/4.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/5.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 15.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/6.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> رایگان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/7.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 20.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
                        <article>
                            <a href="" class="img-layer"><img src="~/images/pic/8.jpg"></a>
                            <h2><a href=""> آموزش متریال دیاین در زامارین </a></h2>
                            <span> 75.000 تومان </span>
                            <i>1:52:32</i>
                        </article>
                    </div>
                    <!-- /col -->
                </div>
            </section>
        </div>
    </main>*@

