<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> @ViewData["Title"] </title>
    <partial name="_MetaTagsPartialView" />
    <partial name="_StylesPartialView" />
    <script src="~/lib/jquery/dist/jquery-2.2.3.min.js"></script>
</head>
<body>
    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">

                            <div class="signin">
                                <i class="glyphicon glyphicon-user"></i>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-action="Index" asp-area="User" asp-controller="Home">ورود به پنل کاربری</a>
                                    <a asp-action="LogOut" asp-area="" asp-controller="Account">/ خروج </a>
                                }
                                else
                                {
                                    <a asp-action="LogIn" asp-area="" asp-controller="Account"> ورود /</a>
                                    <a asp-action="Register" asp-area="" asp-controller="Account"> عضویت </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    @await Component.InvokeAsync("MenuMaster")
    @*<partial name="_MainMenuPartialView" />*@
    <!-- /main manu -->
    <!-- content -->
    <main id="home-page">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <!-- /content -->
    <!-- footer -->
    <partial name="_FooterPartialView" />
    <!-- /footer -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
