<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>  | @ViewData["Title"] </title>
    <partial name="_MetaTagsPartialView" />
    <partial name="_StylesPartialView" />
    <script src="~/js/jquery.min.js"></script>
</head>
<body>
    <script src="~/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <nav>
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <ul>
                            <li>
                                <a href=""> همکاری در فروش </a>
                                <a href=""> درباره ما </a>
                                <a href=""> تماس با ما </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="clientarea">
                            <div class="loggein hidden">
                                <i class="zmdi zmdi-account"></i><a href="">  خوش آمدی </a>
                            </div>
                            <div class="signin">
                                <i class="zmdi zmdi-account"></i>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-action="LogIn" asp-area="" asp-controller="Account"> @User.Identity.Name </a>
                                    <a asp-action="LogOut" asp-area="" asp-controller="Account">/ LogOut </a>
                                }
                                else
                                {
                                    <a asp-action="LogIn" asp-area="" asp-controller="Account"> ورود /</a>
                                    <a asp-action="Register" asp-area="" asp-controller="Account"> عضویت </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            @RenderSection("SearchBox", false)
        </div>
    </div>

    <!-- main manu -->
    <partial name="_MainMenuPartialView" />
    <!-- /main manu -->
    <!-- content -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /content -->
    <!-- footer -->
    <partial name="_FooterPartialView" />
    <!-- /footer -->

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>
