<div class="main-menu">
    <nav>
        <ul>
            <li><a href="#">طراحی سایت</a></li>
            <li>
                <a href="#">آموزش ها</a>
                <ul>
                    <li><a href="#">php</a></li>
                    <li><a href="#">html</a></li>

                </ul>
            </li>
            <li>
                <a href="#">دانلود</a>

            </li>
            <li><a href="#">تماس با ما</a></li>
        </ul>
    </nav>
</div>